body {
  display: grid;
  grid-template-columns: 220px 1fr;
  margin: 0px;
  font-family: "Lato", sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

span {
  color: #848385;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #411d40;
  height: 100vh;
}

.left-column p {
  color: #a7a3a8;
}

.fa-chevron-down,
.fa-bell,
.fa-plus {
  color: #a7a3a8 !important;
}

.fa-chevron-down,
.fa-plus {
  font-size: 8px;
}

.fa-chevron-down {
  margin-left: 6px;
}

.fa-plus {
  border: 1px solid #a7a3a8;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
}

.fa-plus:hover {
  color: whitesmoke !important;
}

.fa-bell {
  padding-top: 2px;
  padding-right: 2px;
  font-size: 20px;
}

.bell .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -11px;
  font-size: 15px;
}

.bell:hover .tooltiptext {
  visibility: visible;
}

.fa-circle {
  color: rgb(70, 168, 127);
  font-size: 9px;
  margin-right: 5px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 9px;
  width: 100%;
}

.user:hover {
  background-color: #301231;
  cursor: pointer;
}

.user:hover .usuario {
  color: white !important;
}

.fa-bell:hover {
  color: white !important;
}

.title-user {
  padding-left: 15px;
}

.bell {
  padding-right: 15px;
}

.codeable {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white !important;
}

.usuario {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 5px;
}

.jump-to {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 0.4em;
  background-color: #280e29;
  font-size: 16px;
  border-radius: 0.3em;
  margin-top: 6px;
}

.fa-search {
  font-size: 12px;
  color: #a7a3a8;
  margin-left: 2px;
  margin-right: 2px;
}

.directions {
  visibility: hidden;
}

.jump-to:hover {
  cursor: pointer;
}

.jump-to:hover .directions {
  visibility: visible;
}

.threads {
  font-size: 15.5px;
  width: 88%;
  display: flex;
  color: #a7a3a8;
  margin-top: 13px;
  margin-bottom: 20px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.threads:hover {
  background-color: #301231;
  cursor: pointer;
}

.fa-comment-dots {
  margin-right: 5px;
}

.channels-list {
  width: 86%;
}

.title-plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title-plus span {
  color: #b1b1b1 !important;
}

.title-plus:hover {
  cursor: pointer;
}

.title-plus:hover span {
  color: white !important;
}

.channel-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.channel-item:hover {
  background-color: #301231;
  cursor: pointer;
}

.right-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 42px;
  width: 100%;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 7px;
  border-bottom: 1px solid lightgray;
}

.channel-info {
  margin-top: 10px;
  margin-left: 18px;
}

.channel-title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 2px;
}

.quick-options-and-topics {
  font-size: 13px;
  color: #4d4d4d;
}

.channel-options {
  display: flex;
  align-items: center;
}

.fa-star {
  padding-right: 3px;
}

.fa-user {
  padding-left: 3px;
  padding-right: 2px;
}

.fa-thumbtack {
  padding-left: 3px;
  padding-right: 2px;
}

.fa-phone,
.fa-info-circle,
.fa-cog,
.fa-at,
.fa-star,
.fa-ellipsis-v {
  height: 22px;
  width: 22px;
  padding: 6px;
  color: #827f83;
}

.fa-user:hover,
.fa-thumbtack:hover,
.fa-phone:hover,
.fa-info-circle:hover,
.fa-cog:hover,
.fa-ellipsis-v:hover {
  color: rgb(48, 96, 158);
  cursor: pointer;
}

.fa-star:hover {
  color: yellow;
  cursor: pointer;
}

.fa-at:hover {
  color: red;
  cursor: pointer;
}

.search-box {
  height: 32px;
  width: 195px;
  border-radius: 0.5em;
  padding-left: 0.5em;
  border: 1px solid rgb(110, 110, 110);
  color: rgb(196, 196, 196);
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 3px;
}

.search-box span {
  margin-left: 5px;
  font-size: 15px;
  color: #666666;
}

.search-box .fa-search {
  font-size: 15px;
}

.search-box:hover span,
.search-box:hover .fa-search {
  color: rgb(48, 96, 158);
  cursor: pointer;
}

.msg-display {
  overflow-y: auto;
  width: 98%;
  padding-left: 15px;
}

.input-msg {
  width: 100%;
  grid-template-columns: 44px 1fr 22px 22px;
  margin-bottom: 20px;
}

.input-message {
  padding: 9px 66px 9px 9px;
  margin: 0px 15px;
  width: 89%;
  height: 26px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 0.5em;
}
